<div class="container">
	
	<%= link_to("<< Back to  List", {:action => 'index'}, :class => 'back-link') %>

	<div class="secitons edit">
		
		<h2 class="text-center">Edit Section</h2>

		<%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>		
	

			<%= render(:partial => "form", :locals => {:f => f}) %>

			<br>
			<%= submit_tag("Update Section", :class => 'btn btn-success') %>
		<% end %>


	</div>


</div>