<div class="container">
	
	<%= link_to("<< Back to  List", {:action => 'index'}, :class => 'back-link') %>

	<div class="pages delete">
		
		<h2 class="text-center">Delete Page</h2>

		<%= form_for(:page, :url => {:action => 'destroy', :id => @page.id}) do |f| %>

			<p>Are you sure you want to permanetly delete this page?</p>

			<p class="reference-name"><%= @page.name %></p>

			<div class="btn form-buttons">
				<%= submit_tag("Delete Page") %>
			</div>
		<% end %>


	</div>


</div>