<div class="container">
	
	<%= link_to("<< Back to  List", {:action => 'index'}, :class => 'back-link') %>

	<div class="pages new">
		
		<h2 class="text-center">Create Page</h2>

		<%= form_for(:page, :url => {:action => 'create'}) do |f| %>

			<%= render(:partial => "form", :locals => {:f => f}) %>

			<br>
			<%= submit_tag("Create Page", :class => 'btn btn-success') %>
		<% end %>


	</div>


</div>