	<div class="label">Name</div>
	<div class="form-control">
		<%= f.text_field(:name) %>
	</div>

	<div class="label">Position</div>
	<div class="form-control">
		<%= f.text_field(:position) %>
	</div>

	<div class="label">Visible</div>
	<div class="form-control">
		<%= f.text_field(:visible) %>
	</div>
