<div class="container">
	<%= link_to("<< Back to List", {:action => 'index'}, 
		:class => 'back-link') %>

	<div class="row">
		<div class="subjects show">
			<h2 class="text-center">Show Subject</h2>

			<table class="table" summary="Subject detail view">
				
			</table>
		</div>
	</div>
</div>