<!DOCTYPE html>
<html>
<head>
  <title>Simple Cms / Admin</title>
<%= stylesheet_link_tag('application', :media => 'all') %>
</head>
<body>
	
	<h1 class="text-center">Simple CMS | <%= @page_title || "Admin" %></h1>

	<div class="row">
		
		<% if ! flash[:notice].blank? %>
			<div class="notice">
			<%= flash[:notice] %>
			</div>
		<% end %>
	</div>

<div class="container">

	<!-- before yield -->

	<%= yield %>

	<!-- after yield -->

</div>
<br><br>
<div class="container">
	<div class="footer">
	<strong>Simple CMS in Ruby on Rails</strong>
	</div>
</div>

</body>
</html>
