<!DOCTYPE html>
<html>
<head>
  <title>Simple Cms</title>
  <%= javascript_include_tag('public') %>


</head>
<body>

<div class="container">

	<!-- before yield -->

	<%= yield %>

	<!-- after yield -->

</div>

</body>
</html>
